{{ extends 'layout.html.twig' }}

<h1>Items</h1>

{% block content %}
    <ul>
        {% for items in item %}
            <li><a href="/items/show?id={{ item.id }}">{{ item.id }}. {{ item.tilte }}</li></a>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/items/add">Ajouter</a>
{% endblock %}
